@import "tailwindcss";

@font-face {
  font-family:dm-sans ;
  src: url(./DMSans_18pt-Medium.ttf);
}
@font-face {
  font-family:dm-sans2 ;
  src: url(./DMSans_18pt-Bold.ttf);
}
@font-face {
  font-family:dm-sans3 ;
  src: url(./DMSans_18pt-Light.ttf);
}

/* .dm-sans{
  font-family: "DM Sans", sans-serif;
} */